*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand',-apple-system, 'Neue', 'Segoe UI', 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}



/* ---------HEADER----------- */


.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)), url(../images/header1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 60px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 6px 12px;
    position: relative;
}
.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.nav-link ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #05F4B7;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.header-text{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-text h1{
    font-size: 50px;
}
.header-text p{
    margin: 10px 0 30px;
    font-size: 14px;
}
.header-icon ul li{
    font-size: 25px;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}
.header-icon ul li a i{
    color: #fff;
}
nav .fas, nav .far{
    display: none;
}
@media (max-width:700px) {
    .header{
        overflow: hidden;
    }
    .header-text h1{
        font-size: 33px;
    }
    .header-text p{
        font-size: 12px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background: #0c4c3c;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        color: #fff;
        transition: 1s;
    }
    nav .fas, nav .far{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
    }
    .nav-link ul{
        padding: 30px;
    }
    .about .aboutCol img{
        margin-left: 13%;
        float: none;
    }
}


/* ------about------ */


.about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    border-bottom: 1px solid #b1f8b8;
}
.aboutCol{
    text-align: left;
    padding: 20px 12px;
    margin-bottom: 8%;
}
.aboutCol img{
    width: 200px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    float: left;
}
.aboutCol h2{
    margin-bottom: 10px;
    font-size: 30px;
}
.aboutCol h3{
    margin-bottom: 20px;
    font-size: 16px;
}
.aboutCol p{
    font-size: 12px;
    color: #999999;
}
.aboutCol .button{
    margin-top: 20px;
}
.aboutCol .button a{
    color: #0c4c3c;
    font-weight: bold;
}



/* ---------SCHOOL-------- */


.school{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 80px;
    border-bottom: 1px solid #b1f8b8;
}

.title h2{
    font-size: 30px;
}
.title p{
    margin-top: 1%;
    font-size: 13px;
    color: #999999;
}
.schoolCol{
    flex-basis: 31%;
    background: #cbffdb;
    margin-bottom: 8%;
    padding: 20px 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.5s;
}
.schoolCol p{
    font-size: 13px;
    padding: 5% 0 8%;
}
.schoolCol img{
    width: 200px;
}
.schoolCol a{
    color:#0c4c3c;
}
.schoolBottom{
    width: 75%;
    background: #fff;
    padding: 5%;
    margin: 0 auto 45px;
    transition: 0.5s;
}
.schoolCol:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.schoolBottom:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.schoolBottom::after{
    content: '';
    width: 0;
    height: 2px;
    background: #05F4B7;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.schoolBottom:hover::after{
    width: 80%;
}

@media (max-width: 700px){
    .row{
        flex-direction: column;
        
    }
}



/* ---------SKILLS-------- */


.skill{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 80px;
}

.skillCol{
    flex-basis: 31%;
    margin-bottom: 8%;
    padding: 20px 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.5s;
}
.skillCol p{
    font-size: 13px;
    padding: 5% 0 8%;
}
.skillCol img{
    width: 200px;
}
.skillCol a{
    color:#0c4c3c;
}
.skillText p{
    margin: 5px 0 15px;
    color: #aeaeae;
}
.skillCol:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}







.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border: 1px solid #b1f8b8;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    transition: 0.5s;
}
.button:hover{
    border: 1px solid #25c769;
    background: #25c769;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;   
}

